@import './base.css';

#app {

  margin: 0 ;
  padding: 0;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*color: hsla(160, 100%, 37%, 1);*/
  /*transition: 0.4s;*/
}

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 ;*/
/*  }*/
.icon-float{
    transform:  translateY(0.15em);
}
.margin-lift-5{
    margin-left: 5px
}

