<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tujiquestionnaire.system.mapper.AnswerSonMapper">
    <insert id="insertAnswerSonList" parameterType="list">
        insert into answer_son_info(id,answer_id,option_id,option_content,answer_pic_id)
        values
        <foreach item="item" index="index" collection="answerSonList" separator=",">
            (
             #{item.id},
             #{item.answerId},
             #{item.optionId},
             #{item.optionContent},
             #{item.answerPicId}
             )
        </foreach>
    </insert>
</mapper>
