<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tujiquestionnaire.system.mapper.AnswerMapper">

    <insert id="insertAnswerList" parameterType="list">
        insert into answer_info(id,user_id,survey_id,question_id,option_content,create_date)
        values
        <foreach item="item" index="index" collection="answerList" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.surveyId},
            #{item.questionId},
            #{item.optionContent},
            #{item.createDate}
            )
        </foreach>
    </insert>

    <select id="selectDataBySurveyId" resultMap="myMap" parameterType="string">
        SELECT count(*)               AS count,
               q.id                   AS question_id,
               q.question_description as question_name,
               q.question_sort as question_sort,
               q.question_type as question_type
        FROM answer_info a
                 JOIN question_info q on a.question_id = q.id
        WHERE q.survey_id = #{surveyId,jdbcType=VARCHAR}
        GROUP BY q.id
    </select>
    <resultMap id="myMap" type="com.wang.tujiquestionnaire.system.entity.dto.AnswerDataDto">
        <id column="count" property="count"/>
        <result column="question_id" property="questionId"/>
        <result column="question_name" property="questionName"/>
        <result column="question_sort" property="questionSort"/>
        <result column="question_type" property="questionType"/>
    </resultMap>
</mapper>
