<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tujiquestionnaire.system.mapper.OptionMapper">
<insert id="insertOptionList" parameterType="list">
    insert into option_info(id, survey_id, question_id, option_name, option_sort, option_pic_id)
    values
    <foreach item="item" index="index" collection="optionLists" separator=",">
        (
        #{item.id},
        #{item.surveyId},
        #{item.questionId},
        #{item.optionName},
        #{item.optionSort},
        #{item.optionPicId}
        )
    </foreach>
</insert>


    <select id="selectAllBySurveyId"  resultMap="option">
        select question_id,option_name,option_sort
        from option_info
        where
        survey_id = #{surveyId,jdbcType=VARCHAR}
    </select>
    <resultMap id="option" type="com.wang.tujiquestionnaire.system.entity.Option">
        <id column="question_id" property="questionId"/>
        <result column="option_name" property="optionName"/>
        <result column="option_sort" property="optionSort"/>
    </resultMap>
</mapper>
